<h3>Password Manager</h3>

<section class="add-password-form" [formGroup]="passwordForm">
  <mat-form-field appearance="outline" color="accent" class="pwd-account-name">
    <mat-label>account name</mat-label>
    <input type="text" matInput formControlName="account_name" />
    <mat-error>Please enter the Account name!</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent" class="pwd">
    <mat-label>password</mat-label>
    <input type="password" matInput formControlName="original_password" />
    <mat-error>Please enter the Password!</mat-error>
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline" color="accent" class="pwd-account-url">
    <mat-label>URL</mat-label>
    <input type="text" matInput formControlName="account_url" />
    <mat-error>URL too long</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" primary-color>
    <mat-label>expiry date</mat-label>
    <input matInput formControlName="expiry_date" [matDatepicker]="picker" />

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <br />

  <div class="pwd-button-container">
    <button
      mat-raised-button
      primary-color
      [disabled]="passwordForm.invalid"
      (click)="createPasswordLog()"
    >
      Add
    </button>

    <button
      mat-raised-button
      primary-color
      class="pwd-clear"
      (click)="clearForm()"
    >
      Clear
    </button>
  </div>
</section>

<section class="password-view-main">
  <mat-card
    *ngFor="let card of passwordDataSource"
    class="example-card"
    appearance="outlined"
  >
    <button
      mat-icon-button
      class="edit-icon"
      (click)="editPassword(card)"
      style="margin-right: 35px"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      mat-icon-button
      class="delete-icon"
      (click)="deletePasswordLog(card?.password_id)"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <mat-card-header class="title-box">
      <mat-card-title class="title">{{ card["account_name"] }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="password-div">
        <mat-label>Password: </mat-label>
        <mat-form-field class="example-full-width">
          <input
            class="abc"
            matInput
            [type]="card?.hide ? 'password' : 'text'"
            readonly
            [value]="
              decryptHashedPassword(card?.hashed_password, card?.account_name)
            "
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility(card)"
          >
            <mat-icon>{{
              card?.hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-hint align="end"
            ><strong style="color: #005cbb">Click to view password</strong>
          </mat-hint>
        </mat-form-field>
      </div>

      <div *ngIf="card?.account_url" class="url-div">
        <mat-label>Account URL: </mat-label>
        <mat-label
          ><a
            [href]="addHttp(card?.account_url)"
            target="_blank"
            rel="noopener noreferrer"
            >{{ card?.account_url }}</a
          >
        </mat-label>
      </div>

      <div *ngIf="card?.expiry_date" class="expiry-date-div">
        <mat-label>Expiry Date: </mat-label>
        <mat-label
          >{{ convertUTCToLocalDateTime(card?.expiry_date) }}
        </mat-label>
      </div>
    </mat-card-content>

    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="dates">
        <mat-chip
          ><mat-label
            >Created On: {{ convertUTCToLocalDateTime(card?.created_at) }}
          </mat-label></mat-chip
        >
        <mat-chip>
          <mat-label
            >Modified On: {{ convertUTCToLocalDateTime(card?.updated_at) }}
          </mat-label></mat-chip
        >
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</section>
