.edit-transaction-form {
  mat-form-field {
    margin-right: 1rem;
  }

  .transaction-notes {
    margin-top: 8px;
    width: 500px;
  }

  .transaction-title {
    width: 250px;
  }

  .transaction-amount {
    width: 150px;
  }

  .transaction-description {
    width: 500px;
  }

  // .tx-button-container {
  //   margin-top: 10px;
  //   display: flex;
  //   // justify-content: space-between;

  //   button.tx-clear {
  //     margin-left: 20px;
  //   }
  // }
}
