.edit-password-form {
    margin-bottom: 50px;
  
    mat-form-field {
      margin-right: 1rem;
    }
  
    .pwd-account-name {
      width: 250px;
      margin-top: 5px;
    }
  
    .pwd {
      width: 250;
    }
  
    .pwd-account-url {
      width: 500px;
    }
  
    button {
      margin-top: 10px;
    }
  }