<h3 mat-dialog-title>Edit Password</h3>

<mat-dialog-content>
  <section class="edit-password-form" [formGroup]="editPasswordForm">
    <mat-form-field
      appearance="outline"
      color="accent"
      class="pwd-account-name"
    >
      <mat-label>account name</mat-label>
      <input type="text" matInput formControlName="account_name" />
      <mat-error>Please enter the Account name!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent" class="pwd">
      <mat-label>password</mat-label>
      <input
        [type]="hide ? 'password' : 'text'"
        matInput
        formControlName="original_password"
      />
      <button mat-icon-button matSuffix (click)="hideShowPassword()">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error>Please enter the Password!</mat-error>
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline" color="accent" class="pwd-account-url">
      <mat-label>URL</mat-label>
      <input type="text" matInput formControlName="account_url" />
      <mat-error>URL too long</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" primary-color>
      <mat-label>expiry date</mat-label>
      <input matInput formControlName="expiry_date" [matDatepicker]="picker" />

      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <br />
  </section>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="edit()">Edit</button>
</mat-dialog-actions>
